/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
    --cor-1: #000000;
    --cor-2: #BE1E2D;
    --cor-3: #ff4d6d;
    --cor-4: #ffffff;
    --cor-5: #e2e8f0;
    --cor-6: #acb5c2;


    --font-1: 'Lato';
    --font-2: 'Arvo', serif;
    --font-3: "Dancing Script";
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MENU DESKTOP */
body {
    background-color: black;
    height: 100vh;
}

.interface {
    /* max-width: 1280px; */
    margin: 0 auto;
}

header {
    padding: 20px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 80px;
}

header a {
    color: #ffffff;
    font-family: var(--font-1);
    text-decoration: none;
    display: inline-block;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-abrir-menu {
    display: none;
}

@media screen and (max-width: 1020px) {
    .menu-desktop {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
    }

}

/* ANIMAÇÃO CARDS */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}

#netflix-notify-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.netflix-toast {
    background: rgba(20, 20, 20, 0.85);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 12px 16px;
    border-left: 3px solid #E50914;
    border-radius: 6px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    max-width: 260px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(40px);
    animation: slideIn .4s ease forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.netflix-toast.hide {
    opacity: 0;
    transform: translateX(40px);
    transition: .5s ease;
}

/* ANIMAÇÃO SUPRESA */
.cinema-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(8px);
    z-index: 999990;
    animation: fadeOverlay 6s ease forwards;
}

.netflix-surpresa {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999999;
    pointer-events: none;
    animation: fadeTitulo 5s ease forwards;
}

.netflix-surpresa span {
    color: #E50914;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    display: block;
    margin-bottom: 15px;
}

.netflix-surpresa h1 {
     font-size: clamp(4rem, 10vw, 8rem);
    font-weight: 900;
    letter-spacing: 3px;
    background: linear-gradient(
        90deg,
        #E50914,
        #ff6b6b,
        #ffffff,
        #ffd700,
        #E50914
    );
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:
        gradientMove 4s ease infinite;
    text-shadow: 0 0 20px rgba(229, 9, 20, .6);
}

.love-message {
    position: fixed;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    z-index: 999998;
    text-shadow: 0 0 10px rgba(229, 9, 20, .8);
    animation:floatMessage 4s ease forwards;
}

/* CORAÇÕES */
.heart-particle {
    position: fixed;
    font-size: 35px;
    pointer-events: none;
    z-index: 999997;
    animation:
     heartFloat 5s linear forwards;
}

@keyframes gradientMove {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

@keyframes fadeOverlay {

    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes fadeTitulo {

    0% {

        opacity: 0;

        transform:
            translate(-50%, -50%)
            scale(.6);
    }

    20% {

        opacity: 1;

        transform:
            translate(-50%, -50%)
            scale(1);
    }

    80% {

        opacity: 1;
    }

    100% {

        opacity: 0;

        transform:
            translate(-50%, -50%)
            scale(1.2);
    }

}

@keyframes floatMessage {

    0% {

        opacity: 0;

        transform:
            translateY(40px)
            scale(.8);
    }

    20% {

        opacity: 1;
    }

    100% {

        opacity: 0;

        transform:
            translateY(-180px)
            scale(1.2);
    }

}

@keyframes heartFloat {

    0% {

        opacity: 0;

        transform:
            translateY(40px)
            rotate(0deg)
            scale(.5);
    }

    20% {

        opacity: 1;
    }

    100% {

        opacity: 0;

        transform:
            translateY(-250px)
            rotate(720deg)
            scale(1.5);
    }

}

/* INFORMAÇÃO NETFLIX */
.sessao {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.texto-coluna {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-coluna {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-coluna img {
    display: block;
    width: 90%;
    margin: auto;
}

.texto-coluna h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #E50914;
}

.texto-coluna p {
    color: var(--cor-4);
}




.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    color: var(--cor-4);
}

.faq h2 {
    font-weight: 500;
    font-size: 40px;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 22px;
    font-size: 18px;
    font-weight: 600;
    background: #181818;
    border-left: 4px solid #E50914;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: .3s ease;
}

.accordion li label:hover {
    background: #252525;
    transform: translateX(5px);
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: inherit;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #101010;
    border-left: 4px solid #E50914;
    border-radius: 0 0 8px 8px;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition:
        max-height .6s ease,
        padding .6s ease;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

@media only screen and (max-width: 600px) {

    .texto-coluna,
    .img-coluna {
        flex-basis: 100%;
    }

    .texto-coluna h2 {
        font-size: 20px;
    }

    .texto-coluna p {
        font-size: 15px;
    }

    .row:nth-child(2) {
        flex-direction: column-reverse;
    }

    .texto-coluna .row {
        padding: 10px 0;
    }

    .faq h2 {
        font-size: 20px;
    }

    .accordion .content {
        font-size: 14px;
    }

    .accordion li label {
        padding: 10px;
        font-size: 14px;
    }

    label::after {
        font-size: 22px;
    }
}

/* TAG NETFLIX */
.tag-netflix {
    display: table;
    margin: 0 auto 20px;
    background: #E50914;
    color: white;
    padding: 6px 12px;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 4px;
}

/* FOOTER */
footer {
    background: linear-gradient(90deg,
            #E50914,
            transparent);
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    text-shadow: 0 0 3px rgb(209, 213, 219);
}